<?xml version="1.0"?>
<launch>
  <!-- 
       Using simulation time means nodes initialized after this
       will not use the system clock for its ROS clock and 
       instead wait for simulation ticks. 

       See http://wiki.ros.org/Clock

       Note: set to false for deploying to a real robot.
  -->
  <arg name="use_sim_time" default="true"/>
  <arg name="model" default="$(find jetbot_description)/urdf/jetbot.urdf"/>
  <param name="use_sim_time" value="$(arg use_sim_time)"/>
  <include file="$(find jetbot_description)/launch/gazebo.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam command="load"
    file="$(find jetbot_description)/config/jetbot_diff_drive_control.yaml" 
    ns="jetbot_diff_controller"/>

  <!-- load the controllers -->
  <node name="jetbot_controller_spawner" pkg="controller_manager" type="spawner"
    respawn="false" 
    output="screen" 
    args="jetbot_diff_controller"/>

  <!-- Rotate the robot on launch -->
  <node pkg="jetbot_sim_app" type="teleop.py" name="teleop" output="screen"/>
  
</launch>
