<launch>
  <arg name="urdf_file" default="$(find xacro)/xacro --inorder '$(find jetbot_description)/urdf/jetbot.urdf'" />
  <param name="robot_description" command="$(arg urdf_file)" />
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>
</launch>
