<?xml version="1.0"?>

<model>
  <name>track</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Alberto Quattrini Li</name>
    <email>alberto.quattrini.li@dartmouth.edu</email>
  </author>

  <description>
    A simple track with a line.
  </description>
</model>

